{% extends "layout.html" %}
{% block body %}
  <div style="width: 300px;">
    <form action="/center" method="post">
      <div class="form-group">
        <input class="form-control mb-2" name="location" type="text" placeholder="Zadejte název města" />
        <button class="btn btn-success form-control">Přidat očkovací místo do databáze</button>
      </div>
    </form>
  </div>
  {% for center in centers %}
    <div class="card">
      <a href="{{ url_for("center", id=center.id) }}">
        <div class="card-body">{{ center.name }}</div>
      </a>
    </div>
  {% endfor %}
{% endblock %}
